* {
  box-sizing: border-box;
  margin: 0;
}

html {
  min-height: 100vh;
}

body {
  background-color: #234236;
  
}

h1, h2, h3 ,h4{
  text-decoration: none;
  color: white;
}

h3 {
  font-size: 1.2rem;
}

nav {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  width: 100%;
  background-color: #342c42;
  
  padding-left: 10px;
}

nav.a {
  color: white;
}

label {
  width: 8rem;
  display: block;
  height: 1.5rem;
  padding-bottom: 0.8rem;
  
}


a {
  text-decoration: none;
  color: white;
}

.post {
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: beige;
}

#wrapper {
  margin: 0 auto;
}

#child-wrapper {
  width: 1000px;
  margin: 0 auto;
  margin-top: 3rem;
}

header {
  background-color: #251d24;
  color: #f2e394;
  width: 100%;
  margin: 0 auto;
  text-align: center;

  height: 4rem;
}

/* Copy of header*/
footer {
  background-color: #251d24;
  color: #f2e394;
  width: 100%;
  margin: 0 auto;
  text-align: center;

  height: 3rem;
  margin-top: 5rem;
}

form {
  background-color: #1f5934;
  border-radius: 10px;
  margin-bottom: 2rem;
  margin-top: 2rem;
  padding: 1rem;
  color: white;
  border: 1px solid #0a130f;
}

/*same as #form*/
.post, .comment, .category {
  background-color: #1f5934;
  border-radius: 10px;
  margin-bottom: 2rem;
  margin-top: 2rem;
  padding: 1rem;
  color: white;
  border: 1px solid #0a130f;

}


button {
  color: white;
  background-color: #251d24;
  border: 1px solid #0a130f;
  border-radius: 5px;
  padding: 4px;
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 10px;
}